/.env
/.env.*
!/.env.example
/vendor/
/tools/
/public/phpinfo.php
/storage/*
!/storage/.htaccess
/public/uploads/*
!/public/uploads/.htaccess
/public/assets/uploads/
/admin/assets/uploads/
/*.sql
/*.php
!/index.php
/*.txt
/error
/fetch_assoc())
/reyal_solutions/
/tmp/
*.log
/debug_log.txt
/temp_out.html
/netstat_output.txt
